<div class="container">
    <div class="card col-12 col-md-12 col-lg-12 col-sm-12">
      <img class="card-img-top" src="assets/book.png" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title"> <strong> Book Card </strong> </h1>
        <h2 class="card-text"> Book Information </h2>
        <h5 class="card-text">Book name:{{ data.name }}</h5>
        <h5 class="card-text">Book author:{{ data.authors }}</h5>
        <p class="card-text"> Book Release Date: {{ data.released }}</p>
        <a [routerLink]="['/book', data.id]" class="btn btn-info">More Details...</a>
      </div>
      <br>
    </div>
    <br>
    <br>
